<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Manage This Coupon
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <img *ngIf="coupon.image" src="{{coupon.image}}">
    <ion-card-content>
      <ion-card-title>
        {{coupon.title}}
      </ion-card-title>
      <p>
        {{coupon.description}}
      </p>
    </ion-card-content>
  </ion-card>

  <button ion-button (click)="deleteButton()">
    <ion-icon name="trash"></ion-icon>
    Delete This Coupon
  </button>

  <button ion-button (click)="backButton()">
    <ion-icon name="home"></ion-icon>
    Back to list
  </button>
</ion-content>
