<ion-header>
  <ion-navbar>
    <ion-title>
      Login to your account
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label floating>email</ion-label>
    <ion-input type="email" [(ngModel)]="model.email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>password</ion-label>
    <ion-input type="password" [(ngModel)]="model.password"></ion-input>
  </ion-item>

  <button ion-button round (click)="loginButton()">Login</button>
</ion-content>
