<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Scan Coupon
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <ion-card-title>Enter Coupon Code</ion-card-title>

      <ion-item>
        <ion-label floating>Coupon Code</ion-label>
        <!-- TODO: test if 'tel' is a good idea here -->
        <ion-input type="tel" [(ngModel)]="model.couponCode"></ion-input>
      </ion-item>

      <button ion-button round
      (click)="activateCouponButton()">
        Activate Coupon
      </button>

    </ion-card-content>
  </ion-card>
</ion-content>
