<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Create a Coupon
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-card-title>Enter your coupon details</ion-card-title>

      <ion-item>
        <ion-label floating>Coupon Title</ion-label>
        <ion-input [(ngModel)]="model.title" type="text"></ion-input>
      </ion-item>

      <!-- TODO: do these #identifiers need to be unique to the page,
      or to the entire application -->

      <ion-item>
        <ion-label floating>Coupon Description</ion-label>
        <ion-textarea rows="6"
        [(ngModel)]="model.description"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label>Expiration Date</ion-label>
        <ion-datetime displayFormat="MMMM DD, YYYY" *ngIf="!model.noExp"
        min="{{todaysDate}}" max="{{dateInOneCentury}}"
        pickerFormat="MMMM DD YYYY" [(ngModel)]="model.expDate"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>No Expiration</ion-label>
        <ion-checkbox [(ngModel)]="model.noExp"></ion-checkbox>
      </ion-item>

      <button ion-button round (click)="createCouponButton()">
        Create Coupon
      </button>
    </ion-card-content>
  </ion-card>
</ion-content>
