<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Business Name Here Coupons</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let coupon of coupons | async">
    <img *ngIf="coupon.image" src="{{coupon.image}}">
    <ion-card-content>

      <ion-card-title>
        {{coupon.title}}
      </ion-card-title>
      <p>
        {{coupon.description}}
      </p>

    </ion-card-content>
    <ion-list >

      <button ion-item (click)="useThisCouponButton(coupon)">
        <ion-icon name="pricetag" item-right></ion-icon>
        Use this coupon!
      </button>

      <button ion-item (click)="manageThisCouponButton(coupon)">
        <ion-icon name="hammer" item-right></ion-icon>
        Manage this coupon!
      </button>

    </ion-list>
  </ion-card>
</ion-content>
