<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Account Settings
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Use the options below to manage your account.
    </ion-list-header>

    <button ion-item (click)="signOutButton()">
      <ion-icon name="close-circle" item-left></ion-icon>
      Sign out
    </button>

    <button ion-item>
      <ion-icon name="build" item-left></ion-icon>
      Change your password
    </button>

    <button ion-item>
      <ion-icon name="mail" item-left></ion-icon>
      Change your email
    </button>

    <button ion-item>
      <ion-icon name="happy" item-left></ion-icon>
      Contact store owner
    </button>

    <button ion-item>
      <ion-icon name="beer" item-left></ion-icon>
      Have a beer
    </button>

    <button ion-item>
      <ion-icon name="bonfire" item-left></ion-icon>
      Build a fire
    </button>
  </ion-list>
</ion-content>
