<ion-header>
  <ion-navbar>
    <ion-title>
      Welcome to the app
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <img src="assets/img/otrevaLogo.jpg">

  <button ion-button round
    (click)="loginButton()">
    Login
  </button>

  <button ion-button round
    (click)="createAccountButton()">
    Create Account
  </button>
</ion-content>
