<ion-header>
  <ion-navbar>
    <ion-title>
      Create an account
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label floating>email</ion-label>
    <ion-input [(ngModel)]="model.email" type="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>password</ion-label>
    <ion-input [(ngModel)]="model.password" type="password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>confirm password</ion-label>
    <ion-input [(ngModel)]="model.confirm" type="password"></ion-input>
  </ion-item>

  <button ion-button round (click)="createAccountButton()">
    Create My Account
  </button>
</ion-content>
